html,body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background: url(img/back.gif) 0 110px;
    font-size: 12px;
    overflow: hidden;
}

input {
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.075);
}

input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow:  0 1px 1px rgba(128, 128, 128, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
}

.logo {
    background: url(img/logo.png) no-repeat #fff 50%;
    height: 131px;
}

.copy-right {
    /*background: url(img/copy.png) #fff 98% 50% no-repeat;*/
    height: 48px;
    position: absolute;
    top: 103px;
}

.b1 {
    background: url(img/form.png) 0px 0px;
    width: 547px;
    margin:120px auto auto;
    height: 329px;
    position: relative;
}

#login-form {
    position: absolute;
    top: 125px;
    left: 50%;
}

.text {
    width: 140px;
    height: 14px;
    margin-bottom: 10px;
}

label {
    width: 54px;
    height: 21px;
    line-height: 21px;
    display: inline-block;
}

.login-btn {
    background: url(img/b.png);
    width: 90px;
    height: 26px;
    border: none;
}

.btn-wrap {
    text-align: center;
    margin-top: 10px;
}